<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>backendWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet01</display-name>
    <servlet-name>servlet01</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A01_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet01</servlet-name>
    <url-pattern>/servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet2</display-name>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A02_Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>htmlRendering</display-name>
    <servlet-name>htmlRendering</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A03_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>htmlRendering</servlet-name>
    <url-pattern>/htmlRendering</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_html2</display-name>
    <servlet-name>servlet_html2</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A04_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_html2</servlet-name>
    <url-pattern>/servlet_html2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_html</display-name>
    <servlet-name>servlet_html</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A04_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_html</servlet-name>
    <url-pattern>/servlet_html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A06_CodeInsert</display-name>
    <servlet-name>A06_CodeInsert</servlet-name>
    <servlet-class>backendWeb.a01_serlvet.A06_CodeInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A06_CodeInsert</servlet-name>
    <url-pattern>/A06_CodeInsert</url-pattern>
  </servlet-mapping>
</web-app>