.color1 {
    background-color: lightgrey;
    width: 200px;
    height: 50px;
}

table {
    border-top: 3px solid blue;
    /* border: 1px solid black; */
    width: 100%;
    align-items: center;
}

td {
    border-bottom: 1px solid gray;
}

button {
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
